* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000000;
    display: flex;
    justify-content: center;
    padding: 40px;
    color: rgb(169, 98, 98);
}

.profile-card {
    width: 500px;
    background-color: #355eb7;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #00ff0d;
}

/* Cover */
.cover {
    height: 160px;
    background: linear-gradient(90deg, #6366f1, #ec4899);
}

/* Profile Info */
.profile-info {
    padding: 20px;
    position: relative;
}

.avatar {
    width: 100px;
    height: 100px;
    background-color: #d1d5db;
    border-radius: 50%;
    border: 4px solid #111827;
    position: absolute;
    top: -50px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

button {
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.message-btn {
    background-color: #1f2937;
    color: white;
}

.follow-btn {
    background-color: white;
    color: black;
}

h2 {
    margin-top: 60px;
    margin-bottom: 5px;
}

.username {
    color: #9ca3af;
    margin-bottom: 10px;
}

.bio {
    margin-bottom: 20px;
}

/* Tabs */
.tabs {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #1f2937;
    border-bottom: 1px solid #1f2937;
    padding: 12px 0;
}

.tabs span {
    cursor: pointer;
    color: #9ca3af;
}

.tabs .active {
    color: #6366f1;
    border-bottom: 2px solid #6366f1;
    padding-bottom: 5px;
}

/* Posts */
.posts {
    padding: 15px;
}

.post {
    padding: 15px 0;
    border-bottom: 1px solid #1f2937;
}
