.container {
    height: 100vh;
    display: grid;
    place-items: center;
}

.item {
    width: 200px;
    height: 100px;
    background: #6366f1;
    color: white;

    display: grid;
    place-items: center;

    font-size: 20px;
    border-radius: 10px;
}
