body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(180deg, #0f172a, #020617);
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.box {
    width: 30%;
    height: 60px;
    background-color: #3b82f6;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    font-weight: bold;
}
