body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background: #0f172a;
}


.layout {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 260px;
    background: #1e293b;
    color: white;
    padding: 20px;
    font-size: 18px;
}

.main {
    flex: 1;
    background: #334155;
    color: white;
    padding: 20px;
    font-size: 18px;
}
