* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    height: 100vh;
}

/* LEFT SIDE */
.left {
    flex: 1;
    background-color: hsl(217, 100%, 41%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.left-content {
    text-align: center;
}

.left h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.left p {
    font-size: 18px;
}

/* RIGHT SIDE */
.right {
    flex: 1;
    background-color: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.login-box {
    width: 350px;
}

.login-box h2 {
    margin-bottom: 10px;
}

.sub-text {
    margin-bottom: 20px;
    color: #9ca3af;
    font-size: 14px;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #000000;
    background-color: #001536;
    color: white;
    outline: none;
}

input:focus {
    border-color: #6366f1;
}

.password-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password-row a {
    font-size: 12px;
    color: #6366f1;
    text-decoration: none;
}

.login-btn {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #6c63ff, #5a54d1);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.login-btn:hover {
    opacity: 0.9;
}

.divider {
    text-align: center;
    margin: 20px 0;
    color: #9ca3af;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
}

.social-buttons button {
    width: 30%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #334155;
    background-color: #1e293b;
    color: white;
    cursor: pointer;
}
