.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 120px);
    gap: 15px;
    padding: 20px;
}

.item {
    background: #6366f1;
    color: white;
    font-size: 24px;

    display: grid;
    place-items: center;
    border-radius: 10px;
}


.item1 {
    grid-column: span 2;
    grid-row: span 2;
}
