*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:#001112;
    color:white;
}

/* NAVBAR */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    border-bottom:1px solid rgba(255,255,255,0.1);
    
}

.logo{
    font-size:22px;
    font-weight:bold;
    color:#5da9ff;
    cursor: pointer;
}

.nav-links{
    display:flex;
    gap:30px;
    align-items:center;
}

.nav-links a{
    text-decoration:none;
    color:#cbd5e1;
    font-size:14px;
}

.login-btn{
    padding:8px 18px;
    background:#1e293b;
    border-radius:6px;
}

/* HERO */
.hero{
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:48px;
    color:#ff5d5d;
}


.hero p{
    margin-top:20px;
    font-size:18px;
    color:#096fff;
}

.hero-buttons{
    margin-top:40px;
}

.primary-btn{
    padding:12px 30px;
    background:#3b82f6;
    color:white;
    text-decoration:none;
    border-radius:8px;
    margin-right:15px;
}

.secondary-btn{
    padding:12px 30px;
    background:#1e293b;
    color:white;
    text-decoration:none;
    border-radius:8px;
}

/* FEATURES */
.features{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:80px 20px;
}

.card{
    background:#6f82a2;
    padding:30px 60px;
    border-radius:12px;
    font-size:18px;
    cursor: pointer;
}
